<!DOCTYPE html>
<html>
<head>
    <title>Login - Painters Near Me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://auth.util.repl.co/script.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h3>Login to Painters Near Me</h3>
                <button class="btn btn-primary mt-3" onclick="LoginWithReplit()">Login with Replit</button>
            </div>
        </div>
    </div>
</body>
</html>